// triggers the media query if window width is less than 35rem
@mixin mobile-view {
    @media (max-width: 35rem) {
        @content;
    }
}


// Web browser type and version compliant gradient
@mixin my-gradient($fromColor, $toColor) {
    background-color: $toColor; /* fallback color */
	background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Safari 4+, Chrom */
	background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrom 1+, Safari 5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF 3.6 */
	background-image:      -ms-inear-gradient(to bottom, $fromColor, $toColor); /* IE 10 */
	background-image:      -o-linear-gradient(to bottom, $fromColor, $toColor); /* Opera 11 */
	background-image: linear-gradient(to bottom, $fromColor, $toColor);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}'); /* old IE */
}



// Calculates the width of column:
// $n -> number of columns
// $w -> total width including all columns and spacings in the row
// $s -> spacing (gaps between columns)
@mixin equal-spacing($n, $w, $s){
    
    // width of individual column
    width: ($w - $s*($n - 1))/$n; 
    
    margin: 0 0 0 $s;
    
    // first column will have margin left 0
    &:first-child {
        margin: 0;
    }
}